<link rel="stylesheet" href="/css/style.css">
<%- include('partials/head') %> 

<body>
    <%- include('partials/navbar') %>

    <div id="team" class="team">
        <div class="container">
            <div class="row">
                <h2 class="wow fadeInUp">About Us</h2>
                <p class="wow fadeInUp">Here at Sweet Lover's Den we believe the freshsly baked sweets serve as the hallmarks to enjoy any of life's greatest moments! Quality fresh ingredients, careful technique and design, and lastly a burning desire to guarantee customer satisfaction with every item that's being made, these all serve as the anchors for our team's success.   </p>
                <p class="wow fadeInUp">Sweet Lover's Den is an American Franchise established in 1990 by John Apple, it began serving customers just in the puget sound, and has now expanded to 200 bakeries worldwide, and 30 bakeries in the USA.  </p>

              
                
        </div>
            <img src="/images/about.jpg" alt ="cakes">
    </div>
</div>
<%- include('partials/footer') %>             

    
            

</body>
