
<link rel="stylesheet" href="css/home.css" >



<%- include('partials/head') %> 

<body>

<%- include('partials/navbar') %>
<div id="header" class="header">
    <video autoplay loop muted src="/video/cookies.mp4" ></video>
    <div class="container">
        <div class="mainvid">
            <div class="col-lg-6 col-md-6 wow bounceInLeft" data-wow-delay="1s">
            
                <p></p>
            </div>
         <selection class = "jumbotron text-xs-center">
             <div class="container">
             <h1 class=""jumbotron-heading>Sweet lover's Den</h1>
             <p class="lead text-mudted"> Welcome to Sweet Lover's Den</p>
            </div>
         </selection>
                
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>



</body>


</html>