<link rel="stylesheet" href="css/styles.css" >

<%- include('partials/head') %> 

<body>
  <!-- navbar starr -->
  <%- include('partials/navbar') %>
  <!-- navbar end -->

  <div id="pricing" class="pricing">
    <h2 class="wow fadeInUp">Menu</h2>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
                <div class="packages">
                    <h1>Scones</h1>
                    <p id="Items"> Choclate Chip Scones<span id= "right"> $3.50</span></p>
                    <p id="Items"> Blueberry Swirl Scones<span id= "right"> $3.50</span></p>
                    <p id="Items">Recess Pieces Scones<span id= "right"> $3.50</span></p>
                    <p id="Items">Oreo Scones<span id= "right"> $3.50</span></p>
                    <p id="Items">Cinnamon Swirl Scones<span id= "right">$3.50</span></p>
                    <p id="Items">Butter Pecan Scones<span id= "right"> $3.50</span></p>
                    <p id="Items">Custom Made Scones<span id= "right"> $6.50</span></p>
                    <hr>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
                <div class="packages">
                    <h1>Cake</h1>
                    <p id="Items"> New York Cheescake<span id= "right"> $3.50</span></p>
                    <p id="Items"> Apple and Cinnamon crumble Cake<span id= "right"> $3.50</span></p>
                    <p id="Items">Marble Cake<span id= "right"> $3.50</span></p>
                    <p id="Items">Double Choc Mousse Cake<span id= "right">$3.50</span></p>
                    <p id="Items">Triple Choc Cheesecake<span id= "right"> $3.50</span></p>
                    <p id="Items">Lamington Cake<span id= "right"> $3.50</span></p>
                    <p id="Items">Custom Made Cake<span id= "right"> $6.50</span></p>
                    <hr>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
                <div class="packages">
                    <h1>Muffins</h1>
                    <p id="Items"> Choclate Chip Muffins<span id= "right"> $3.50</span></p>
                    <p id="Items"> Bannana and Choclate Muffins<span id= "right"> $3.50</span></p>
                    <p id="Items">Carmael Apple Muffins<span id= "right"> $3.50</span></p>
                    <p id="Items">Bluberry swirl Muffins<span id= "right"> $3.50</span></p>
                    <p id="Items">Apple Cinnamon Muffins<span id= "right"> $3.50</span></p>
                    <p id="Items">Cranberry Muffins<span id= "right"> $3.50</span></p>
                    <p id="Items">Custom Made Muffins<span id= "right"> $6.50</span></p>
                    <hr>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
                <div class="packages">
                    <h1>Cookies</h1>
                    <p id="Items">Choclate Chip Cookies<span id= "right"> $3.50</span></p>
                    <p id="Items">White Choclate Macademia Cookies<span id= "right"> $3.50</span></p>
                    <p id="Items">Double Choclate Cookies<span id= "right"> $3.50</span></p>
                    <p id="Items">Snickerdoodle Cookkies<span id= "right"> $3.50</span></p>
                    <p id="Items">Oatmeal and Raisan Cookies<span id= "right"> $3.50</span></p>
                    <p id="Items">Oreo Cheescake Cookies<span id= "right"> $3.50</span></p>
                    <p id="Items"> Custom Made <span id= "right"> $6.50</span></span></p>
                    <hr>
                </div>
            </div>

        </div>

    </div>
    
        
</div>
<%- include('partials/footer') %>
</body>
</html>