
<%- include('partials/head') %> 

<body>
    <%- include('partials/navbar') %>
    <div id="services" class="services">

        <h2 class="wow fadeInUp">Services</h2>
        <p class="wow fadeInUp">We provide a wide range of exqusite and state of the art custom made baked goods for a various set of occasions from themed events, holdays, and birthdays, and weddings.  </p>
        <div class="row">
            <div class="col-lg-3 col-md-3 wow fadeInLeft">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <h4>Themed Events</h4>
                <p> We offer specially custom made cakes and cookies tailor made to match theme of your event. You are the guide, and we just simply follow directions catered to meet your satisfaction! </p>
            </div>
            <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1s">
                <i class="fa fa-gift" aria-hidden="true"></i>
                <h4>Holidays</h4>
                <p>We offer specially custom made baked goods that are guaranteed to brighten up the holiday spririt. Moreover, we also offer bundle deals for all our goods. </p>
            </div>
            <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <h4>Birthdays</h4>
                <p> Need a cake for your special day? We offer gourmet and custom made specially designed cakes, and cupcakes tailored to match your satisfaction.</p>
            </div>
            <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                <i class= "fa fa-university" aria-hidden="true"></i>
                <h4>Weddings</h4>
                <p> Need a cake for a special and monumentous day! We offer elegantly designed and visually appeasing cakes that tailored to match your satisfaction and add to the highlight of your special day! </p>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>