extends layout
//This brings in the contents of the layout.jade file

block content
 .jumbotron
      .container
        h1 #{title='About Us'}
        img.IT(src="/stylesheets/images/sh.jpg")
        p
          | For over 30 years, TechAngels have worked to support countless people all over the US on their PC and Laptop issues. Our commitment has always remained the same, value our customers, and offer the best quality repairs at the most affordable rates. 
        p
    .container
