extends layout
//This brings in the contents of the layout.jade file

block content
 .jumbotron
      .container
        h1 #{title='What we do'}
        p
          | TechAngles is commited to provide you with the best possible IT service and support. We also provide any hardware support you can possibly think of.  
        p
    .container
      .row
        .col-md-15
          h3 
          p
            | We offer 24/7 remote and onsite support to assist you in navigating your issues, and how to fix them. These issues range from software installations, messed up internal drivers, sluggish speed, removal of virues and malicious programs.  
          p
      