extends layout
//This brings in the contents of the layout.jade file

block content
 .jumbotron
      .container
        h1 #{title='Services and repairs'}
        p
          | TechAngels offers a wide variety of repairs from harware repairs, screenrepairs, malware removals, software repairs, software installation, 24/7 help desk for personal and buisness clients. Our services cater to any brand and any device.
        p
    .container
      .row
        .col-md-15
          h3 Buisnesses we cater too 
          hr
          p
            | Here at TechAngles we make it our commitment to offer the best affordable, and effecient source of maintenance that is uniquely catered to you based on your needs and preferences. We offer live on site 24/7 support, save time and money by joining our team today to get the best quality repair at affordable rates.
          p
       
        .col-md-15
          h3 Services we provide 
          hr 
          ul
            li PC and Laptop maintenance and software/hardware repair 
          ul
            li Data backup
          ul
            li Data recovery
          ul
            li Screen replacement
          ul
            li Overheating and issues with thermal fans
          ul
            li Sluggish speed and connectivity issues 
          ul
            li Removal of virus and malicious programs 
          ul
            li Software Installation
          ul
            li Internal Cleaning
          ul
            li Replace Batteries
          ul
            li SSD upgrade
          
        .container 
          h3 Internal and Hardware repairs
          hr
          p| We help when:
           ul
            li Your PC or laptop does not boot anymore
          ul
            li Your PC or laptop is infected by a virus or malware
          ul
            li Your PC or laptop has poor faulty wifi issues which causes it to perform sluggish 
          ul
            li Your PC or laptop has a defective or broken component 
          ul
            li Your PC or laptop requires the installation of OS
          ul
            li Your PC or laptop screen needs a replacement 
        



        
        