extends layout
//This brings in the contents of the layout.jade file

block content
 .jumbotron
      .container
        h1 #{title='Prices and Plans'}
        img.IT(src="/stylesheets/images/cpr-pic.webp")
        p
          | Here at TechAnges we make it our commitment to offer affordable rates. We offer one time services, monthly subscription plans, and yearly subscription plans. 
        p
    .container
      .row
        .col-md-15
          h3 One time Services  
          p
            | The cost of the one time services request plan varies by the severity of your issue. An issue that requires a simple and fast fix will likely be at a lower cost than an issue that requires more thorough troubleshooting and support.
          p
          h4 Quick and easy fix 
          p
            | For a quick and simple fix we charge $35. 
            | No upfront payment is required, we offer many back guarantee and free initial analysis. 
          p
        .col-md-15
          h3 Advanced Issue 
          p
            | For complex and advanced repairs we charge a one time payment of $50. 
            |This covers computer diagnostic hardware and software repairs. Whether this is sluggish speed, removal of virus and malicious programs, hardcore hardware repairs, and network issues. 
          p
        .col-md-15
          h3 Basic subscription plan 
          p
            | This subscription covers all quick and easy fix issues at an affordable rate. No wait is neccessary, call in and you'll have your issue fixed in no time. For basic subscription plan we charge just $10 a month. Computer issues are common, be reassured today knowing you have constant access reliable and supportive assitance. 
          p
        .col-md-15
          h3 Advanced subscription plan 
          p
            | This subscription covers all advanced and complex issues at an affordable rate. No wait is neccessary, call in and you'll have your issue fixed in no time.  For basic subscription plan we charge just $25 a month. Computer issues can be a huge hassle and pain to deal with, not only does it effect your performance, it also comes at a hefty price to fix which puts a big dent on your wallet. Be reassured today knowing that you have access to reliable and supportive assitance at inexpensive cost to you.
          p
        