<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.2.3/dist/css/ionicons.min.css" href="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <img class = "userPic" src="/images/Husein-pic.jpeg" alt="profile picture">
        
    
    <div class="userdetails">
        <h1>Husein</h1>
        <h1>Sheikh</h1>
        <span>Data Engineer</span>
    </div>
    <div class="home">
    <ion-icon name="school"></ion-icon>
    </div>

    <div class="projects">
    <ion-icon name="folder-sharp"></ion-icon>
    </div>

    <div class="contact">
    <ion-icon name="mail"></ion-icon>
    </div>
 </nav>
 <div class="info">
    <div class="experience">
  <h2>Employment<span> <ion-icon name="briefcase-sharp"></ion-icon></span></h2><hr>
  <h4>Data Engineer at Microsoft<span id= "right"> 2020-2021</span> </h4>
  <h4>Amazon warehouse associate<span id= "right"> 2018-2019</span>
      <ul>
          <li>Packaged, Processed, and sorted any incoming inventory at a rate of 165 per hour to ensure that the volume expectation for the day was met</li>
          <li> Collected, scanned, and organized orders at a rate of 165 per hour, or roughly 2.75 per minute to ensure that the volume expectation for the day was met</li>
          <li>Loaded and sorted all boxes off trailer and on to conveyor belt to be sorted and wrapped at a rate of about 25-40</li> 
      </ul>
      
  </h4>
  <h4>Tutor EACF<span id= "right"> 2016-2017</span>
      <ul>
      <li>Volunteered in a program that helped tutor children of East African American descent in courses such as ELA, Math, Science, etc.</li>
      </ul> 
  </h4>

    </div>
    <div class="employment">
    <h2>Education<span> <ion-icon name="ribbon"></ion-icon></span></h2><hr>
    <h4> GreenRiver College<span id= "right"> 2018-2020</span> 
      <ul>
          <li>	AA Degree. Completed coursework in English language arts, technical and literary writing, Natural Science, Mathematics, Social Science, and Humanities. </li>
      </ul>
    </h4>
    <h4>Year Up<span id= "right"> 2020-2021</span>
         <ul>
          <li>Completed coursework in Software Development, Web Development, HTML, CSS, JavaScript, Excel, SQL, Business Communications, and specialized professional and career readiness training  </li>
      </ul>
    </h4>
  <h4>Seattle Central College<span id= "right"> 2020-2021</span>
       <ul>
          <li>Associate of Science </li>
      </ul>
  </h4>
    
    </div>
    <div class="skills">
    <h2>Skills<span> <ion-icon name="flash"></ion-icon></span></h2><hr>
    <h4>
     <ul>
          <li>HTML </li>
          <li>CSS </li>
          <li>JS </li>
      </ul>
    </h4>
    </div>
</div>
</div>
     <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


</body>
</html>